<!--
 * @Description: 
 * @Author: rainym00d
 * @Github: https://github.com/rainym00d
 * @Date: 2020-11-08 15:47:25
 * @LastEditors: rainym00d
 * @LastEditTime: 2020-11-08 17:55:55
-->
{% extends 'core/base.html' %}

{% block content %}

    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class="content has-text-centered">
                    <h1 class="title">Hello!</h1>
                </div>
            </div>
        </div>
    </div>

{% endblock %}