<!--
 * @Description: 
 * @Author: rainym00d
 * @Github: https://github.com/rainym00d
 * @Date: 2020-11-08 15:47:25
 * @LastEditors: rainym00d
 * @LastEditTime: 2020-11-08 17:55:55
-->
{% extends 'core/base.html' %}

{% block content %}

    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class="content has-text-centered">
                    <h1 class="title">现在位置：主页</h1>
                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li> <a href="/"> 主页 </a> </li>
            <li> <a href="/feed"> 添加新项目 </a> </li>
            <li> <a href="/feed"> 查询/导出现有项目 </a> </li>
        </ul>
    </nav>

{% endblock %}