<!--
 * @Description: 
 * @Author: rainym00d
 * @Github: https://github.com/rainym00d
 * @Date: 2020-11-08 17:12:32
 * @LastEditors: rainym00d
 * @LastEditTime: 2020-11-08 18:20:50
-->
{% extends 'core/base.html' %}

{% block content %}

    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class = "content has-text-centered">
                    <h1 class="title">注册</h1>
                </div>    
                <form action="." method="post">
                    {% csrf_token %}

                    {{ form.as_p }}
                    <div class = "content has-text-centered">
                        <button class="button is-success" type="submit">注册</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
