<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中国人民大学信息学院 科研成果管理系统</title>
    {% load static %}
    <script src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="/media/css/{{ blog.site_theme }}">
    {% block css %}

    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if request.user.is_authenticated %}
                <a class="navbar-brand" href="/home">中国人民大学信息学院 科研成果管理系统</a>
            {% else %}
                <a class="navbar-brand" href="/login">中国人民大学信息学院 科研成果管理系统</a>
            {% endif %}
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="active"><a href="/home"> 主页 <span class="sr-only">(current)</span></a></li>
                <li><a href="/insert">添加项目</a></li>
                <li><a href="/query">查询导出已有项目</a></li>
                    {% if request.user.is_staff %}
                        <li><a href="/createuser">创建新用户</a></li>
                    {% endif %}
                {% else %}
                <!-- 注意! 为调试方便，暂时允许不登录查看页面 -->
                <li class="active"><a href="/login"> 主页 <span class="sr-only">(current)</span></a></li>
                <li><a href="/login">添加项目</a></li>
                <li><a href="/login">查询导出已有项目</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="#">{{ request.user.username }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">更多操作 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">修改密码</a></li>
                            <li><a href="#">修改头像</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">注销</a></li>
                        </ul>
                    </li>
                {% else %}
                    <!--<li><a href="/register">注册</a></li>-->
                    <li><a href="/login">登录</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 style="font-size:22px" class="panel-title text-center">个人信息</h3>
                </div>
                <div class="panel-body text-center">
                    {% if request.user.is_authenticated %}
                        <a href = "/set_img">
                        <img src="/media/user/sign.png" style="max-width: 50%" class="img-thumbnail img-responsive text-center" alt="用户头像">
                        </a>
                    {% else %}
                        <a href = "/login">
                        <img src="/static/user/annonymous.jpg" style="max-width: 50%" class="img-thumbnail img-responsive text-center" alt="用户头像">
                        </a>
                    {% endif %}
                    <p></p>
                    {% if request.user.is_authenticated %}
                        <a style="font-size:18px" href='/home'>{{ request.user.username }}</a>
                    {% else %}
                        <a style="font-size:18px" href='/login'>（未登录）</a>
                    {% endif %}
                </div>
            </div>
            
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 style="font-size:22px" class="panel-title text-center">用户导航</h3>
                </div>
                
                <ul class="nav nav-pills nav-stacked text-center">
                    {% if request.user.is_authenticated %}
                        <li><a style="font-size:16px" href="/home">主页</a></li>
                        <li><a style="font-size:16px" href="/insert">添加项目</a></li>
                        <li><a style="font-size:16px" href="/query">查询导出已有项目</a></li>
                        {% if request.user.is_staff %}
                            <li><a style="font-size:16px" href="/createuser">创建新用户</a></li>
                        {% endif %}
                    {% else %}
                        <li><a style="font-size:16px" href="/login">主页</a></li>
                        <li><a style="font-size:16px" href="/login">添加项目</a></li>
                        <li><a style="font-size:16px" href="/login">查询导出已有项目</a></li>
                    {% endif %}
                </ul>
            </div>
            <!--
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">在线直播</h3>
                </div>
                <div class="panel-body">
                    点我点我，有你好看~
                </div>
            </div>
        -->
        </div>
        {% block content %}
        {% endblock %}
    </div>
</div>

{% block js %}

{% endblock %}
</body>
</html>