{% extends 'base.html' %}

{% block content %}

<div class="col-md-10">

    <div class="container">

        <div class="columns">

            <div class="column is-12">

                <div class="content has-text-centered">

                    <h1 class="title">现在位置：论文添加页面</h1>

                </div>

            </div>

        </div>

    </div>

    <nav class="panel">

        <h3 class="title" style="margin-left: 310px;">论文添加</h3>

        <hr class="simple" color="#d9edf7" /> 

        <div class="panel-block">

            <p class="control has-icons-left">

              <h4><span class="label label-primary">论文标题</span>

              <input class="input" type="text" placeholder="Title"></h4>

              <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

              </span>

            </p>

        </div>
        

        <div class="panel-block">

            <p class="control has-icons-left">

            <h4><span class="label label-primary">论文作者</span>

              <input class="input" type="text" placeholder="Author" style="margin-right:50px;">
                
              <span class="label label-primary" style="margin-right:50px;">是否独立作者:</span>

                <input type="radio" name="judge" value="yes">是

                <input type="radio" name="judge" value="no" style="margin-left:50px;">否
            
            </h4>

              <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

              </span>

            </p>

        </div>

        <div class="panel-block">

            <p class="control has-icons-left">

                <h4><span class="label label-primary">第一作者</span>

                <input class="input" type="text" placeholder="First Author" style="margin-right:50px;">

                <span class="label label-primary">通讯作者</span>

                <input class="input" type="text" placeholder="Corresponding Author"></h4>

                <span class="icon is-left">

                    <i class="fas fa-search" aria-hidden="true"></i>

                </span>

            </p>

        </div>

        <div class="panel-block">

            <p class="control has-icons-left">

                <h4><span class="label label-primary">作者单位</span>

                <input class="input" type="text" placeholder="unit of the first author"></h4>

                <span class="icon is-left">

                    <i class="fas fa-search" aria-hidden="true"></i>

                </span>

            </p>

        </div>

        <div>

            <p class="control has-icons-left">

                <h4><span class="label label-primary" style="margin-right:50px;">论文类型</span>

                <input type="radio" name="type" value="journal">期刊

                <input type="radio" name="type" value="conference" style="margin-left:50px;">会议</h4>

                <span class="icon is-left">

                    <i class="fas fa-search" aria-hidden="true"></i>

                </span>

            </p>

        </div>

        <div>

            <p class="control has-icons-left">

                <h4><span class="label label-primary" style="margin-right:50px;">期刊论文</span>

                <input type="radio" name="type" value="正刊">正刊

                <input type="radio" name="type" value="专刊" style="margin-left:50px;">专刊

                <input type="radio" name="type" value="增刊" style="margin-left:50px;">增刊</h4>

                <span class="icon is-left">

                    <i class="fas fa-search" aria-hidden="true"></i>

                </span>

            </p>

        </div>

        <div>

            <p class="control has-icons-left">

                <h4><span class="label label-primary" style="margin-right:50px;">会议论文</span>

                <input type="radio" name="type" value="长文">长文

                <input type="radio" name="type" value="短文" style="margin-left:50px;">短文

                <input type="radio" name="type" value="demo" style="margin-left:50px;">demo</h4>

                <span class="icon is-left">

                    <i class="fas fa-search" aria-hidden="true"></i>

                </span>

            </p>

        </div>

        <div class="panel-block">

            <p class="control has-icons-left">

            <h4><span class="label label-primary">期刊名称</span>

              <input class="input" type="text" placeholder="Journal">

              <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

              </span>

            </p>

        </div>

        <div class="panel-block">

            <h4><span class="label label-primary" style="margin-right: 5px;">期刊卷期</span>第

            <input class="input" type="text" size="1">卷第

            <input class="input" type="text" size="1">期

            <span class="label label-primary" style="margin-left:90px;"> ISBN号  </span>

            <input class="input" type="text" placeholder="自动匹配" style="margin-left: 8px;"></h4>

            <p class="control has-icons-left">

              <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

              </span>

            </p>

        </div>

        <div class="panel-block">

            <p class="control has-icons-left">

            <h4><span class="label label-primary">会议名称</span>

              <input class="input" type="text" placeholder="Conference"></h4>

              <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

              </span>

            </p>

        </div>


        <div class="panel-block">

            <h4><span class="label label-primary">举办国家</span>

            <input class="input" type="text" placeholder="Country" style="margin-right: 50px;">

            <span class="label label-primary">举办城市</span>

            <input class="input" type="text" placeholder="City"></h4>

            <p class="control has-icons-left">

            <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

            </span>

            </p>

        </div>

        <div class="panel-block">

            <h4><span class="label label-primary" style="margin-right: 5px;">页码范围</span>第

            <input class="input" type="text" size="1">页到

            <input class="input" type="text" size="1">页</h4>

            <p class="control has-icons-left">

              <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

              </span>

            </p>

        </div>

        <div class="panel-block">

            <h4><span class="label label-primary" style="margin-right: 23px;">发表时间</span>

            <select id="year">

                <script>

                    for (var i = 1980; i <= 2020; i++) {

                        document.write("<option value=" + i + ">" + i + "</option>");

                    }

                </script>

            </select>年

            <select id="month">

                <script>

                    for (var i = 1; i <= 12; i++) {

                        document.write("<option value=" + i + ">" + i + "</option>");

                    }

                </script>

            </select>月

            <select id="day">

                <script>

                    for (var i = 1; i <= 31; i++) {

                        document.write("<option value=" + i + ">" + i + "</option>");

                    }

                </script>

            </select>日</h4>


            <p class="control has-icons-left">

              <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

              </span>

            </p>

        </div>

        <div>

            <p class="control has-icons-left">
 
                <h4><span class="label label-primary">论文语言</span>

                <input type="radio" name="type" value="journal" style="margin-left: 50px;">中文
                
                <input type="radio" name="type" value="conference" style="margin-left:50px;">英文</h4>

                <span class="icon is-left">

                    <i class="fas fa-search" aria-hidden="true"></i>

                </span>

            </p>

        </div>

        <div class="panel-block">

            <p class="control has-icons-left">

            <h4><span class="label label-primary" style="margin-right: 15px;">关键词 </span>

              <input class="input" type="text" placeholder="可以为空，后续补充：如教师的研究方向" size="59"></h4>

              <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

              </span>

            </p>

        </div>

        <div class="panel-block">

            <h4><span class="label label-primary">文件上传</span>

            <p class="control has-icons-left">

                <form>
                    <input type="file" name="paper" accept="document" />
                </form></h4>
                    
              <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

              </span>

            </p>

        </div>

        <div class="panel-block">

            <p class="control has-icons-left">

                <button type="button" class="btn btn-default" data-toggle="button" style="margin-left: 310px;">提交</button>
               
              <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

              </span>

            </p>

        </div>


{% endblock %}