{% extends 'base.html' %}

{% block content %}

<div class="col-md-10">

    <div class="container">

        <div class="columns">

            <div class="column is-12">

                <div class="content has-text-centered">

                    <h1 class="title" style="margin-left: 350px;">论文添加</h1>

                </div>

            </div>

        </div>

    </div>

    <nav class="panel">

        <hr class="simple" color="#d9edf7" /> 

        <div class="panel-block">

            <p class="control has-icons-left">

              <h4><span class="label label-primary">论文标题</span>

              <input class="input" type="text" placeholder="Title" style="margin-right: 80px;"></h4>

              <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

              </span>

            </p>

        </div>

        <div>

            <p class="control has-icons-left">
 
                <h4><span class="label label-primary">论文语言</span>

                <input type="radio" name="language_type" value="journal" style="margin-left: 50px;">中文
                
                <input type="radio" name="language_type" value="conference" style="margin-left:50px;">英文
            
                </h4>

                <span class="icon is-left">

                    <i class="fas fa-search" aria-hidden="true"></i>

                </span>

            </p>

        </div>

        <div>

            <p class="control has-icons-left">
 
                <h4><span class="label label-primary">论文类型</span>

                <input type="radio" name="paper_type" value="journal" onclick="ch('j')" style="margin-left: 50px;">期刊

                <input type="radio" name="paper_type" value="conference" onclick="ch('c')" style="margin-left:50px;">会议</h4>

                <span class="icon is-left">

                    <i class="fas fa-search" aria-hidden="true"></i>

                </span>

            </p>

        </div>

        <div>
            <div id="0">

                <p class="control has-icons-left">

                    <h4><span class="label label-primary">期刊名称</span>
        
                      <input class="input" type="text" placeholder="Journal" style="margin-right: 50px;">卷
                    
                      <input class="input" type="text" size="1" style="margin-right: 10px;">期
        
                      <input class="input" type="text" size="1" style="margin-right:20px;">页
                    
                      <input class="input" type="text" size="1" style="margin-left:10px;">~
        
                      <input class="input" type="text" size="1">
        
                    </h4>
        
                      <span class="icon is-left">
        
                        <i class="fas fa-search" aria-hidden="true"></i>
        
                      </span>
        
                    </p> 
                
                <p class="control has-icons-left">

                        <h4><span class="label label-primary" style="margin-right:50px;">期刊等级</span>
        
                        <input type="radio" name="j_type" value="正刊">正刊
        
                        <input type="radio" name="j_type" value="专刊" style="margin-left:50px;">专刊
        
                        <input type="radio" name="j_type" value="增刊" style="margin-left:50px;">增刊</h4>
        
                        <span class="icon is-left">
        
                            <i class="fas fa-search" aria-hidden="true"></i>
        
                        </span>
        
                </p>

            </div>

            <div id="1">

                <p class="control has-icons-left">

                    <h4><span class="label label-primary">会议名称</span>
        
                      <input class="input" type="text" placeholder="Conference" style="margin-right: 50px;">页
        
                      <input class="input" type="text" size="1">~
        
                      <input class="input" type="text" size="1">
        
                    </h4>
        
                      <span class="icon is-left">
        
                        <i class="fas fa-search" aria-hidden="true"></i>
        
                      </span>
        
                    </p> 
                
                <p class="control has-icons-left">

                        <h4><span class="label label-primary" style="margin-right:50px;">论文类型</span>
        
                        <input type="radio" name="p_type" value="正刊" onclick="ch1('l')">长文
        
                        <input type="radio" name="p_type" value="专刊" onclick="ch1('s')" style="margin-left:50px;">短文
        
                        <input type="radio" name="p_type" value="增刊" onclick="ch1('d')" style="margin-left:50px;">demo</h4>
        
                        <span class="icon is-left">
        
                            <i class="fas fa-search" aria-hidden="true"></i>
        
                        </span>
        
                </p>

                <div id="2">

                    <p class="control has-icons-left">
    
                        <h4><span class="label label-primary" style="margin-right:50px;">展示形式</span>
        
                        <input type="radio" name="show_type" value="oral">Oral
        
                        <input type="radio" name="show_type" value="poster" style="margin-left:50px;">poster</h4>
        
                        <span class="icon is-left">
        
                            <i class="fas fa-search" aria-hidden="true"></i>
        
                        </span>
        
                </p>
    
                </div>
    
                <div id="3"></div>

            </div>


        </div>

<!--
        
        <div class="panel-block">

            <p class="control has-icons-left">

            <h4><span class="label label-primary">期刊名称</span>

              <input class="input" type="text" placeholder="Journal" style="margin-right: 50px;">卷
            
              <input class="input" type="text" size="1" style="margin-right: 10px;">期

              <input class="input" type="text" size="1" style="margin-right:20px;">页
            
              <input class="input" type="text" size="1" style="margin-left:10px;">~

              <input class="input" type="text" size="1">

            </h4>

              <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

              </span>

            </p>

        </div>

        <div>

            <p class="control has-icons-left">

                <h4><span class="label label-primary" style="margin-right:50px;">期刊等级</span>

                <input type="radio" name="type" value="正刊">正刊

                <input type="radio" name="type" value="专刊" style="margin-left:50px;">专刊

                <input type="radio" name="type" value="增刊" style="margin-left:50px;">增刊</h4>

                <span class="icon is-left">

                    <i class="fas fa-search" aria-hidden="true"></i>

                </span>

            </p>


        </div>

    -->

        <div class="panel-block">

            <h4><span class="label label-primary" style="margin-right: 23px;">发表时间</span>

            <select id="year">

                <script>

                    for (var i = 1980; i <= 2020; i++) {

                        document.write("<option value=" + i + ">" + i + "</option>");

                    }

                </script>

            </select>年

            <select id="month">

                <script>

                    for (var i = 1; i <= 12; i++) {

                        document.write("<option value=" + i + ">" + i + "</option>");

                    }

                </script>

            </select>月

            <select id="day">

                <script>

                    for (var i = 1; i <= 31; i++) {

                        document.write("<option value=" + i + ">" + i + "</option>");

                    }

                </script>

            </select>日</h4>


            <p class="control has-icons-left">

              <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

              </span>

            </p>

        </div>


        <div class="panel-block">

            <p class="control has-icons-left">

                <button type="button" class="btn btn-default" data-toggle="button" style="margin-left: 900px;">添加</button>

                <button type="button" class="btn btn-default" data-toggle="button" style="margin-left: 5px;">删除</button>
               
              <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

              </span>

            </p>

        </div>

        
        <div>

        <ul class="list-group">

            <li class="list-group-item">1、姓名

                <input class="input" type="text" style="margin-right: 40px;">
                身份
                <select id="身份" style="margin-right: 40px;">

                    <option>独立作者</option>
                    <option>第一作者</option>
                    <option>通讯作者</option>
                    <option>其他</option>
    
                </select>

                类型
                <select id="类型">

                    <option>本院教师</option>
                    <option>本院学生</option>
                    <option>校外人员</option>
                    <option>其他</option>
    
                </select>

                <button type="button" class="btn btn-default btn-sm" style="margin-left: 340px;">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" style="margin-left: 15px;">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>


            </li>
            <li class="list-group-item">条目2</li>
            <li class="list-group-item">条目3</li>

        </ul>

        </div>


        <div class="panel-block">

            <p class="control has-icons-left">

                <button type="button" class="btn btn-default" data-toggle="button" style="margin-left: 400px;">上传论文</button>

                <button type="button" class="btn btn-default" data-toggle="button" style="margin-left: 30px;">提交</button>
               
              <span class="icon is-left">

                <i class="fas fa-search" aria-hidden="true"></i>

              </span>

            </p>

        </div>

        <script>
            function ch(tag){
                var a=document.getElementById("0");
                var b=document.getElementById("1");
                
                if(tag=='j'){
                    a.style.display="block";
                    b.style.display="none";
                }
                else{
                    a.style.display="none";
                    b.style.display="block";
                }
            }

            function ch1(tag){
                var a=document.getElementById("2");
                var b=document.getElementById("3");
                
                if(tag=='s' || tag=='l'){
                    a.style.display="block";
                    b.style.display="none";
                }
                else{
                    a.style.display="none";
                    b.style.display="block";
                }
            }
        </script>



{% endblock %}