{% extends 'base.html' %}


{% block content %}

<!-- <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
    rel="stylesheet">
<script src="https://js.cybozu.cn/momentjs/2.29.1/moment-with-locales.min.js"></script>
<script src="static/js/moment-with-locales.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script> -->
<style>
    .col-xs-1 {
        width: 15% !important;
    }

    .col-xs-2 {
        width: 35% !important;
    }

    .upload-wrap{
        position: relative;
        display: inline-block;
        overflow: hidden;
        border:1px solid #2d78f4;
        border-radius: 3px;
    }
    .upload-wrap .file-ele{
        position: absolute;
        top:0;
        right:0;
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
    .upload-wrap .file-open{
        width:90px;
        height:30px;
        line-height:30px;
        text-align: center;
        color:#fff;
        background: #3385ff;
    }

</style>

<script type="text/javascript">
    $(function () {
        var picker1 = $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn'),
            //minDate: '2016-7-1'
        });
    });
    $('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: moment.locale('zh-cn'),
        defaultDate: "1990-1-1"
    });

    // 查询出来的内容显示一下
    $(function(){
        // 论文标题
        $("#title").val('{{title}}');

        // 语言类型
        if ('{{language}}' == "C")
            $("#lan-cn").click();
        else if ('{{language}}'== "E")
            $("#lan-en").click();
        
        // 期刊/会议名称
        $("#cjname").val('{{conferjournalname}}');

        // 论文类型
        // 期刊
        if ('{{conferorjournal}}' == "J")
        {
            // 卷期页
            $("#journal").click();
            $("#volume").val('{{volume}}');
            $("#issue").val('{{issue}}');
            $("#page_1").val('{{startpage}}');
            $("#page_2").val('{{endpage}}');
            if('{{papertype}}' == "正刊")
                $("#正刊").click();
            else if('{{papertype}}' == "专刊")
                $("#专刊").click();
            else if('{{papertype}}' == "增刊")
                $("#增刊").click();
        }
        // 会议
        else if ('{{conferorjournal}}' == "C")
        {
            // 页
            $("#conference").click();
            $("#page_1").val('{{startpage}}');
            $("#page_2").val('{{endpage}}');
            if('{{papertype}}' == "长文Oral")
            {
                $("#long_essay").click();
                $("#oral").click();
            }
            else if('{{papertype}}' == "长文Poster")
            {
                $("#long_essay").click();
                $("#poster").click();
            }
            if('{{papertype}}' == "短文Oral")
            {
                $("#short_essay").click();
                $("#oral").click();
            }
            if('{{papertype}}' == "短文Poster")
            {
                $("#short_essay").click();
                $("#poster").click();
            }    
            else if('{{papertype}}' == "demo")
                $("#demo").click();
        }

        // 发布日期
        $("#date").val('{{publishtime}}');

        var author_names = JSON.parse('{{author_names|safe}}');
        var author_identities = JSON.parse('{{author_identities|safe}}');
        var author_types = JSON.parse('{{author_types|safe}}');

        $("#姓名").val(author_names[0]);
        $("#身份").val(author_identities[0]);
        $("#人员类型").val(author_types[0]);
        
        for(var i = 1; i < author_names.length; i++)
        {
            var html = '';
            html += '<div id="inputFormRow">';
            html += '<table class="table table-striped" style="table-layout:fixed;">';
            html += '<tbody>';
            html += '<tr>';
            html += '<td>';
            html +=
                '<input id="姓名" class="form-control" label="authorname" placeholder="请输入姓名" type="text" value="'
            html += author_names[i]
            html += '" style="width:100px; padding:3px 10px;border-top-left-radius: 5pxborder-bottom-left-radius: 5px;background-size:13px 13px;appearance:yes; -moz-appearance:yes;-webkit-appearance:yes;">';
            html += '</td>';
            html += '<td>';
            html +=
                '<select id="身份" class="form-control" label="identity" value="';
            html += author_identities[i];
            html += '" style="width:100px;padding:3px 10px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;background-size:13px 13px;appearance:yes;-moz-appearance:yes;-webkit-appearance:yes;">';

            if(author_identities[i] == "普通作者")
                html += '<option value="普通作者" selected="selected">普通作者</option>';
            else
                html += '<option value="普通作者">普通作者</option>';
            
            if(author_identities[i] == "通讯作者")
                html += '<option value="通讯作者" selected="selected">通讯作者</option>';
            else
                html += '<option value="通讯作者">通讯作者</option>';
            html += '</select>';
            html += '</td>';
            html += '<td>';
            html +=
                '<select id="人员类型" class="form-control" label="authortype"'
            html += ' style="width:100px;padding:3px 10px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;background-size:13px 13px;appearance:yes;-moz-appearance:yes;-webkit-appearance:yes;">';

            if(author_types[i] == "本院教师")
                html += '<option value="本院教师" selected="selected">本院教师</option>';
            else
                html += '<option value="本院教师">本院教师</option>';
            
            if(author_types[i] == "本院学生")
                html += '<option value="本院学生" selected="selected">本院学生</option>';
            else
                html += '<option value="本院学生">本院学生</option>';
            
            if(author_types[i] == "其他")
                html += '<option value="其他" selected="selected">其他</option>';
            else
                html += '<option value="其他">其他</option>';
                
            html += '</select>';
            html += '</td>';
            html += '<td>';
            html += '<button id="removeRow" type="button" class="btn btn-danger">删除</button>';
            html += '</td>';
            html += '</tr>';
            html += '</tbody>';
            html += '</table>';
            html += '</div>';

            $('#newRow').append(html);
        }
    });
</script>

<div class="col-md-10">
    <!-- <div class="container-fluid"> -->
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 修改项目(
                <em style="color: red;">*</em>为必填项）
            </div>

            <div class="panel-body">
                <div class="row">
                    <div>
                        <label class="form-inline" style="margin-left: 18px;"><em style="color: red;margin-right: 5px;">*</em>论文标题：
                            <input type="text" id="title" name="title" class="form-control" style="width:600px; margin-right: 18px"></label>
                        <label class="form-inline" style="margin-left: 18px;">论文语言:</label>
                        <input type="radio" id="lan-cn" name="language_type" value="Chinese"
                            style="margin-right: 10px;margin-left: 10px;" checked />中文
                        <input type="radio" id="lan-en" name="language_type" value="English"
                            style="margin-right: 10px;margin-left: 10px;">英文
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div>
                        <label class="form-inline" style="margin-left: 18px;"><em style="color: red;margin-right: 5px;">*</em>期刊/会议名称：
                            <input type="text" id="cjname" class="form-control" required="required" style="width:568px; margin-right: 18px"></label>
                        <label class="form-inline" style="margin-left: 18px;">论文类型:</label>
                        <input type="radio" name="paper_type" value="journal" id="journal"
                            style="margin-right: 10px;margin-left: 10px;" checked />期刊
                        <input type="radio" name="paper_type" value="conference" id="conference"
                            style="margin-right: 10px;margin-left: 10px;">会议

                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">

                    <div id="jj_row">
                        <div class="col-xs-2">
                            <div class="panel panel-info">
                                <div class="panel-heading"><em style="color: red;margin-right:5px;">*</em>
                                    页码范围
                                </div>
                                <div class="panel-body">
                                    <form class="form-inline">
                                        卷
                                        <input class="form-control" type="text" id="volume" style="width:50px;
                            padding:3px 10px;
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                            background-size:13px 13px;
                            appearance:yes;
                            -moz-appearance:yes;
                            -webkit-appearance:yes;
                            margin-right:5px;
                            ">期

                                        <input class="form-control" type="text" id="issue" style="width:50px;
                            padding:3px 10px;
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                            background-size:13px 13px;
                            appearance:yes;
                            -moz-appearance:yes;
                            -webkit-appearance:yes;
                            margin-right: 5px;">页

                                        <input class="form-control" type="text" id="page_1" style="width:60px;
                            padding:3px 10px;
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                            background-size:13px 13px;
                            appearance:yes;
                            -moz-appearance:yes;
                            -webkit-appearance:yes;">~

                                        <input class="form-control" type="text" id="page_2" style="width:60px;
                            padding:3px 10px;
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                            background-size:13px 13px;
                            appearance:yes;
                            -moz-appearance:yes;
                            -webkit-appearance:yes;
                            ">
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="journal_choice"></div>
                    <div id="conference_choice"></div>

                    <div id="jj_row_1">
                        <div class="col-md-3">
                            <div class="panel panel-info">
                                <div class="panel-heading"><em style="color: red;">*</em>
                                    期刊论文类型
                                </div>
                                <div class="panel-body">
                                    <!-- <br> -->
                                    <label class="radio-inline">
                                        <input type="radio" name="j_type" id="正刊" value="正刊" checked />正刊
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="j_type" id="专刊" value="专刊">专刊
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="j_type" id="增刊" value="增刊">增刊
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="journal_choice_1"></div>
                    <div id="conference_choice_1"></div>
                    <div id="demo_choice"></div>


                    <!-- <div class="row"> -->
                    <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading"><em style="color: red;">*</em>
                                论文发布日期
                            </div>
                            <div class="panel-body">
                                <div class='col-sm-12'>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' id="date" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
        
                        </div>

                    </div>
                </div>

                <div id="conference_choice_2"></div>

                <div class="panel-body">
                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <button id="addRow" type="button" class="btn btn-info">添加作者</button>
                            <span class="icon is-left">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><em style="color: red;margin-right: 5px;">*</em>作者信息录入</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped" style="table-layout:fixed;">
                                        <thead>
                                            <tr>
                                                <th>姓名</th>
                                                <th>身份</th>
                                                <th>人员类型</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="inputFormRow">
                                            <tr>
                                                <td>
                                                    <input id="姓名" class="form-control" type="text" label="authorname" style="width:100px;
                padding:3px 10px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                background-size:13px 13px;
                appearance:yes;
                -moz-appearance:yes;
                -webkit-appearance:yes;
                " placeholder="请输入姓名">
                                                </td>
                                                <td>
                                                    <select id="身份" class="form-control" label="identity"
                                                        style="
                width:100px;
                padding:3px 10px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                background-size:13px 13px;
                appearance:yes;
                -moz-appearance:yes;
                -webkit-appearance:yes;
                ">
                                                        <option value="普通作者">普通作者</option>
                                                        <option value="通讯作者">通讯作者</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="人员类型" class="form-control" label="authortype"
                                                        style="
                width:100px;
                padding:3px 10px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                background-size:13px 13px;
                appearance:yes;
                -moz-appearance:yes;
                -webkit-appearance:yes;
                ">
                                                        <option value="本院教师">本院教师</option>
                                                        <option value="本院学生">本院学生</option>
                                                        <option value="其他">其他</option>
                                                    </select>
                                                </td>
                                                <td>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="newRow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="upload-wrap anticon col-md-offset-0" nv-file-drop="" uploader="uploader">
                                    <input class="file-ele" type="file" id="file" value="上传文件" file-model="image"
                                        name="image" nv-file-select uploader="uploader" multiple />
                                    <div class="file-open"><em class="icon icon-upload"></em>&nbsp;上传电子版</div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <input style="left:2px" class="btn btn-success" href="#" rel="external nofollow" type="button"
                                    id="commit" value="提交" style="margin-left:445px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // 试了一下
    $('#commit').click(function(){
        var data = new FormData();
        // 标题
        // data.title = $("#title").val();
        if(!$('#title').val()){
            alert("ALERT: 未填写论文标题!");
            return;
        }
        data.append('title',$("#title").val());
        // 会议期刊名
        // data.cjname = $("#cjname").val();

        if(!$('#cjname').val()){
            alert("ALERT: 未填写期刊/会议名称!");
            return;
        }
        data.append('cjname',$("#cjname").val());
        // 语言
        // data.language = $("input:radio:checked").eq(0).val();
        data.append('language',$("input:radio:checked").eq(0).val());
        // 会议还是期刊
        // data.cj = $("input:radio:checked").eq(1).val();
        data.append('cj',$("input:radio:checked").eq(1).val());
        
        // 会议期刊详细属性
        // data.cjtype = $("input:radio:checked").eq(2).val();
        data.append('cjtype',$("input:radio:checked").eq(2).val());
        // 日期
        // data.date = $("#date").val();
        if(!$('#date').val()){
            alert("ALERT: 未选择论文发布日期!");
            return;
        }
        data.append('date',$("#date").val());
        // 页码
        // data.page_1 = $("#page_1").val();
        // data.page_2 = $("#page_2").val();
        if(!$('#page_1').val()){
            alert("ALERT: 未填写起始页!");
            return;
        }
        if(!$('#page_2').val()){
            alert("ALERT: 未填写终止页!");
            return;
        }
        data.append('page_1',$("#page_1").val());
        data.append('page_2',$("#page_2").val());

        // 卷期同时处理
        volume = $("#volume").val();
        issue = $("#issue").val();

        if (!$('#volume').val() && $("input:radio:checked").eq(1).val() == 'journal') {
            alert("ALERT: 未填写论文卷号!");
            return;
        }
        if (!$('#issue').val() && $("input:radio:checked").eq(1).val() == 'journal') {
            alert("ALERT: 未填写论文期号!");
            return;
        }

        if(volume){
            // data.volume = volume;
            // data.issue = issue;
            data.append('volume',$("#volume").val());
            data.append('issue',$("#issue").val());
        }

        var authorNames = $("input[label=\"authorname\"]");
        var authorTypes = $("select[label=\"authortype\"]");
        var identities = $("select[label=\"identity\"]");

        // 作者列表
        var authors = new Array;
        for (var i = 0; i < authorNames.length; i++) {
            var dic = new Object;
            // 作者
            dic.name = authorNames.eq(i).val();
            // 第几作者
            dic.identity = identities.eq(i).val();
            // 是否校内
            dic.type = authorTypes.eq(i).val();
            authors.push(dic);
        }
        for(var i = 0;i<authorNames.length;i++){
            if(!authorNames.eq(i).val()){
                alert("ERROR: 未填写作者 "+(i+1)+" 姓名!");
                return;
            }
        }
        
        if(!$('#file').val()){
            alert("ALERT: 未选择文件!");
            return;
        }
        // data.authors = authors;
        data.append('authors',JSON.stringify(authors));
        data.append('paper', $("#file")[0].files[0]);
        
        for (var pair of data.entries()) {
            console.log(pair[0]+ ', ' + pair[1]); 
        }


        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');        

        $.ajax({
            url:'/process/',
            type:'post',
            data:data,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            // 发送文件 需要修改两个参数
            contentType:false,
            processData:false,

            success:function (response) {
                if (response.code == 1000){
            //        window.location.href = response.url
                }else{
                    alert("fuck");
                }
            }
        })
    });

    // add row
    $("#addRow").click(function () {
        var html = '';
        html += '<div id="inputFormRow">';
        html += '<table class="table table-striped" style="table-layout:fixed;">';
        html += '<tbody>';
        html += '<tr>';
        html += '<td>';
        html +=
            '<input id="姓名" class="form-control" label="authorname" placeholder="请输入姓名" type="text" style="width:100px; padding:3px 10px;border-top-left-radius: 5pxborder-bottom-left-radius: 5px;background-size:13px 13px;appearance:yes; -moz-appearance:yes;-webkit-appearance:yes;">';
        html += '</td>';
        html += '<td>';
        html +=
            '<select id="身份" class="form-control" label="identity" style="width:100px;padding:3px 10px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;background-size:13px 13px;appearance:yes;-moz-appearance:yes;-webkit-appearance:yes;">';
        html += '<option value="普通作者">普通作者</option>';
        html += '<option value="通讯作者">通讯作者</option>';
        html += '</select>';
        html += '</td>';
        html += '<td>';
        html +=
            '<select id="人员类型" class="form-control" label="authortype" style="width:100px;padding:3px 10px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;background-size:13px 13px;appearance:yes;-moz-appearance:yes;-webkit-appearance:yes;">';
        html += '<option value="本院教师">本院教师</option>';
        html += '<option value="本院学生">本院学生</option>';
        html += '<option value="其他">其他</option>';
        html += '</select>';
        html += '</td>';
        html += '<td>';
        html += '<button id="removeRow" type="button" class="btn btn-danger">删  除</button>';
        html += '</td>';
        html += '</tr>';
        html += '</tbody>';
        html += '</table>';
        html += '</div>';

        $('#newRow').append(html);
    });

    //点击会议
    $(document).on('click', '#conference', function () {

        var html = '';
        var html_1 = '';

        html += '<div id="c_row">';
        html += '<div class="col-xs-2">';
        html += '<div class="panel panel-info">';
        html += '<div class="panel-heading"><em style="color: red;margin-right:5px;">*</em>页码范围</div>';
        html += '<div class="panel-body">';
        html += '<form class="form-inline">页';
        html +=
            '<input class="form-control" type="text" id="page_1" style="width:60px;padding:3px 10px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;background-size:13px 13px;appearance:yes;-moz-appearance:yes;-webkit-appearance:yes;margin-left:5px;">~';
        html +=
            '<input class="form-control" type="text" id="page_2" style="width:60px;padding:3px 10px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;background-size:13px 13px;appearance:yes;-moz-appearance:yes;-webkit-appearance:yes;">';
        html += '</form>';
        html += '</div>';
        html += '</div>';
        html += '</div>';
        html += '</div>';

        html_1 += '<div id="c_row_1">';
        html_1 += '<div class="col-md-3">';
        html_1 += '<div class="panel panel-info">';
        html_1 += '<div class="panel-heading"><em style="color: red;margin-right: 5px;">*</em>会议论文类型</div>';
        html_1 += '<div class="panel-body">';
        html_1 += '<label class="radio-inline">';
        html_1 += '<input type="radio" name="c_type" value="长文" id="long_essay">长文</label>';
        html_1 += '<label class="radio-inline">';
        html_1 += '<input type="radio" name="c_type" value="短文" id="short_essay">短文</label>';
        html_1 += '<label class="radio-inline">';
        html_1 += '<input type="radio" name="c_type" value="Demo" id="demo" checked/>Demo</label>';
        html_1 += '</div>';
        html_1 += '</div>';
        html_1 += '</div>';

        $('#c_row').remove();
        $('#c_row_1').remove();
        $('#c_row_2').remove();
        $('#jj_row').remove();
        $('#j_row_1').remove();
        $('#jj_row_1').remove();
        $('#demo_row').remove();
        $('#conference_choice').append(html);
        $('#conference_choice_1').append(html_1);
        $('#j_row').remove();



    });

    //点击期刊
    $(document).on('click', '#journal', function () {
        var html = '';
        var html_1 = '';
        html += '<div id="j_row">';
        html += '<div class="col-xs-2">';
        html += '<div class="panel panel-info">';
        html += '<div class="panel-heading"><em style="color: red;margin-right:5px;">*</em>页码范围</div>';
        html += '<div class="panel-body">';
        html += '<form class="form-inline">卷';
        html +=
            '<input class="form-control" type="text" id="volume" style="width:40px;padding:3px 10px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;background-size:13px 13px;appearance:yes;-moz-appearance:yes;-webkit-appearance:yes;margin-left:5px;margin-right:5px;">期';
        html +=
            '<input class="form-control" type="text" id="issue" style="width:40px;padding:3px 10px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;background-size:13px 13px;appearance:yes;-moz-appearance:yes;-webkit-appearance:yes;margin-right:10px;margin-left:5px;">页';
        html +=
            '<input class="form-control" type="text" id="page_1" style="width:60px;padding:3px 10px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;background-size:13px 13px;appearance:yes;-moz-appearance:yes;-webkit-appearance:yes;">~';
        html +=
            '<input class="form-control" type="text" id="page_2" style="width:60px;padding:3px 10px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;background-size:13px 13px;appearance:yes;-moz-appearance:yes;-webkit-appearance:yes;">';
        html += '</form>';
        html += '</div>';
        html += '</div>';
        html += '</div>';
        html += '</div>';

        html_1 += '<div id="j_row_1">';
        html_1 += '<div class="col-md-3">';
        html_1 += '<div class="panel panel-info">';
        html_1 += '<div class="panel-heading"><em style="color: red;margin-right: 5px;">*</em>期刊论文类型</div>';
        html_1 += '<div class="panel-body">';
        html_1 += '<label class="radio-inline">';
        html_1 += '<input type="radio" name="j_type" id="正刊" value="正刊" checked/>正刊</label>';
        // html_1 += '<br>';
        html_1 += '<label class="radio-inline">';
        html_1 += '<input type="radio" name="j_type" id="专刊" value="专刊">专刊</label>';

        html_1 += '<label class="radio-inline">';
        html_1 += ' <input type="radio" name="j_type" id="增刊" value="增刊">增刊</label>';
        html_1 += '</div>';
        html_1 += '</div>';
        html_1 += '</div>';

        $('#j_row').remove();
        $('#j_row_1').remove();
        $('#c_row_1').remove();
        $('#c_row_2').remove();
        $('#jj_row').remove();
        $('#jj_row_1').remove();
        $('#demo_row').remove();
        $('#journal_choice').append(html);
        $('#journal_choice_1').append(html_1);
        $('#c_row').remove();

    });

    //点击demo
    $(document).on('click', '#demo', function () {

        $('#demo_row').remove();
    });

    $(document).on('click', '#long_essay', function () {
        var html = '';
        html += '<div id="demo_row">';
        html += '<div class="col-md-2">';
        html += '<div class="panel panel-info">';
        html += '<div class="panel-heading">展示形式</div>';
        html += '<div class="panel-body">';
        html += '<label class="radio-inline">';
        html += '<input type="radio" name="s_type" id="oral" value="Oral" checked/>Oral</label>';
        html += '<br>';
        html += '<label class="radio-inline">';
        html += '<input type="radio" name="s_type" id="poster" value="Poster">Poster</label>';
        html += '<br>';
        html += '</div>';
        html += '</div>';
        html += '</div>';
        html += '</div>';
        html += '</div>';

        $('#demo_row').remove();
        $('#demo_choice').append(html);
        
    });

    // remove row
    $(document).on('click', '#short_essay', function () {
        var html = '';
        html += '<div id="demo_row">';
        html += '<div class="col-md-2">';
        html += '<div class="panel panel-info">';
        html += '<div class="panel-heading">展示形式</div>';
        html += '<div class="panel-body">';
        html += '<label class="radio-inline">';
        html += '<input type="radio" name="s_type" id="oral" value="Oral" checked/>Oral</label>';
        html += '<br>';
        html += '<label class="radio-inline">';
        html += '<input type="radio" name="s_type" id="poster" value="Poster">Poster</label>';
        html += '<br>';
        html += '</div>';
        html += '</div>';
        html += '</div>';
        html += '</div>';
        html += '</div>';

        $('#demo_row').remove();
        $('#demo_choice').append(html);
    });

    // remove row
    $(document).on('click', '#removeRow', function () {
        $(this).closest('#inputFormRow').remove();
    });
    

</script>



{% endblock %}