{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/dataTables.bootstrap.min.css' %}">

<script src="{% static 'bootstrap/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bootstrap/js/dataTables.bootstrap.min.js' %}"></script>

{% comment %} 下拉菜单 {% endcomment %}
{% comment %} <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> {% endcomment %}

{% endblock %}

{% block content %}

<!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
    rel="stylesheet"> -->

<!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script> -->
<!-- <script src="https://js.cybozu.cn/momentjs/2.29.1/moment-with-locales.min.js"></script> -->
<!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<!-- <script src="static/js/moment-with-locales.js"></script> -->
<!-- <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script> -->


<script src='jquery.js' type="text/javascript">
    $("#add_form .radio input").bind("click", function () {
        var $radio = $(this);
        // if this was previously checked
        if ($radio.data('waschecked') == true) {
            $radio.prop('checked', false);
            $radio.data('waschecked', false);
        } else {
            $radio.prop('checked', true);
            $radio.data('waschecked', true);
        }
        // remove was checked from other radios
        $radio.siblings('input[type="radio"]').data('waschecked', false);
    });
</script>

<script type="text/javascript">
    $(function () {
        var picker1 = $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            //locale: moment.locale('zh-cn'),
            //minDate: '2016-7-1'
        });
        var picker2 = $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            //locale: moment.locale('zh-cn')
        });
        //动态设置最小值
        picker1.on('dp.change', function (e) {
            picker2.data('DateTimePicker').minDate(e.date);
        });
        //动态设置最大值
        picker2.on('dp.change', function (e) {
            picker1.data('DateTimePicker').maxDate(e.date);
        });
    });
    $('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: moment.locale('zh-cn'),
        defaultDate: "1990-1-1"
    });
</script>

<title>checkbox的全选和取消全选</title>
<script type="text/javascript">
    //页面加载的时候,所有的复选框都是未选中的状态
    function checkOrCancelAll(id, type) {
        var chElt = document.getElementById(id);
        //2.获取选中状态
        var checkedElt = chElt.checked;
        console.log(checkedElt)
        //3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消
        var allCheck = document.getElementsByName(type);
        //4.循环遍历取出每一个复选框中的元素
        //var mySpan=document.getElementById("mySpan");
        if (checkedElt) {
            //全选
            for (var i = 0; i < allCheck.length; i++) {
                //设置复选框的选中状态
                allCheck[i].checked = true;
            }
        } else {
            //取消全选
            for (var i = 0; i < allCheck.length; i++) {
                allCheck[i].checked = false;
            }
        }
    };

    function checkCancelAll(id, type) {
        var chElt = document.getElementById(id);
        var allCheck = document.getElementsByName(type);

        //2.获取选中状态
        var checkedElt = chElt.checked;
        //3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消
        //4.循环遍历取出每一个复选框中的元素
        //var mySpan=document.getElementById("mySpan");
        if (checkedElt) {
            //全选
            for (var i = 0; i < allCheck.length; i++) {
                //设置复选框的选中状态
                if (allCheck[i].checked == false)
                    chElt.checked = false;
            }
        } 
    };
</script>

<style>
    .col-xs-1 {
        width: 18% !important;
    }

    .col-xs-2 {
        width: 38% !important;
    }
</style>


<body>

    <div class="col-md-10">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 查询论文
                (<em style="color: red;">*</em>为必填项)
            </div>
            <div class="panel-body">
                <form method="post" action="">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="inputFormRow">
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:100px; padding:3px 10px;">筛选条件</span>
                                    <div class="input-group-btn">
                                        <select id="inputTextType" class="form-control" label="key"
                                            style="width:120px; padding:3px 10px;">
                                            <option id="chosenTitle">论文题目</option>
                                            <option>期刊/会议名称</option>
                                            {% if request.user.is_staff %}
                                            <option>作者姓名</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <input label="dropbox" id="dropbox" type="text" class="form-control" name="0"
                                        placeholder="请输入..." onpropertychange="dropbox(event)" oninput="dropbox(event)">
                                </div>
                            </div>

                            <div id="newRow"></div>
                            <button id="addRow" type="button" class="btn btn-info"> 添 加 </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <em style="color: red;">*</em>
                                作者类型
                            </div>
                            <div class="panel-body">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="authorAll"
                                            onclick="checkOrCancelAll('authorAll','authorType');" /><span
                                            id="mySpan">全选</span>
                                    </label>
                                </div>
                                <!-- <br> -->
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('authorAll','authorType')" id="firstAuthor" type="checkbox" name="authorType" value="option1">第一作者
                                </label>
                                <br>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('authorAll','authorType')" id="corrAuthor" type="checkbox" name="authorType" value="option2">通讯作者
                                </label>
                                <br>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('authorAll','authorType')" id="otherAuthor" type="checkbox" name="authorType" value="option3">其他作者
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <em style="color: red;">*</em>
                                论文类型
                            </div>
                            <div class="panel-body">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="paperAll"
                                            onclick="checkOrCancelAll('paperAll','paperType');checkOrCancelAll('paperAll','jpaperType');checkOrCancelAll('paperAll','journalType');checkOrCancelAll('paperAll','conferType');" /><span
                                            id="mySpan2">全选</span>
                                    </label>
                                </div>
                                <div class="checkbox">

                                <label class="checkbox-inline">
                                    <input onclick="checkOrCancelAll('Journal','jpaperType');checkCancelAll('paperAll','journalType')"  id="Journal" type="checkbox" name="journalType" value="option1">期刊
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkOrCancelAll('Confer','paperType');checkCancelAll('paperAll','conferType')" id="Confer" type="checkbox" name="conferType" value="option2">会议
                                </label>
                                </div>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('paperAll','jpaperType');checkCancelAll('Journal','jpaperType')"  id="Journalmain" type="checkbox" name="jpaperType" value="option1">正刊
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('paperAll','jpaperType');checkCancelAll('Journal','jpaperType')" id="JournalSS" type="checkbox" name="jpaperType" value="option2">专刊
                                </label>
                                <br>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('paperAll','jpaperType');checkCancelAll('Journal','jpaperType')" id="JournalAdd" type="checkbox" name="jpaperType" value="option2">增刊
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('paperAll','paperType');checkCancelAll('Confer','paperType')" id="longPaper" type="checkbox" name="paperType" value="option3">长文
                                </label>
                                <br>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('paperAll','paperType');checkCancelAll('Confer','paperType')"  id="shortPaper" type="checkbox" name="paperType" value="option1">短文
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('paperAll','paperType');checkCancelAll('Confer','paperType')" id="demo" type="checkbox" name="paperType" value="option2">Demo
                                </label>
                                <br>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('paperAll','paperType');checkCancelAll('Confer','paperType')" id="oral" type="checkbox" name="paperType" value="option3">Oral
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('paperAll','paperType');checkCancelAll('Confer','paperType')" id="poster" type="checkbox" name="paperType" value="option3">Poster
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <em style="color: red;">*</em>
                                论文等级
                            </div>
                            <div class="panel-body">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="rankAll"
                                            onclick="checkOrCancelAll('rankAll','rankType');" /><span
                                            id="mySpan2">全选</span>
                                    </label>
                                </div>
                                <div class="col-md-4" for="select">CCF：</div>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('rankAll','rankType')" id="CCFAP" type="checkbox" name="rankType" value="option1">A+
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('rankAll','rankType')" id="CCFA" type="checkbox" name="rankType" value="option2">A
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('rankAll','rankType')" id="CCFAM" type="checkbox" name="rankType" value="option3">A-
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('rankAll','rankType')" id="CCFB" type="checkbox" name="rankType" value="option3">B
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('rankAll','rankType')" id="CCFC" type="checkbox" name="rankType" value="option3">C
                                </label>
                                <br>
                                <div class="col-md-4" for="select">CCF中文：</div>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('rankAll','rankType')" id="CCFChinaAP" type="checkbox" name="rankType" value="option1">A+
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('rankAll','rankType')" id="CCFChinaA" type="checkbox" name="rankType" value="option2">A
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('rankAll','rankType')" id="CCFChinaAM" type="checkbox" name="rankType" value="option3">A-
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('rankAll','rankType')" id="CCFChinaB" type="checkbox" name="rankType" value="option3">B
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('rankAll','rankType')" id="CCFChinaC" type="checkbox" name="rankType" value="option3">C
                                </label>
                                <br>
                                <div class="col-md-4 control-label" for="select">RUC：</div>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('rankAll','rankType')" id="RUCAP" type="checkbox" name="rankType" value="option1">A+
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('rankAll','rankType')" id="RUCA" type="checkbox" name="rankType" value="option2">A
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('rankAll','rankType')" id="RUCAM" type="checkbox" name="rankType" value="option3">A-
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('rankAll','rankType')" id="RUCB" type="checkbox" name="rankType" value="option3">B
                                </label>
                                <label class="checkbox-inline">
                                    <input onclick="checkCancelAll('rankAll','rankType')" id="RUCC" type="checkbox" name="rankType" value="option3">C
                                </label>
                                <br>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <!-- <em style="color: red;">*</em> -->
                                论文发布日期
                            </div>
                            <div class="panel-body">
                                <div class='col-sm-12'>
                                    <div class="form-group">
                                        <div for="select">开始日期</div>
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class='col-sm-12'>
                                    <div class="form-group">
                                        <div for="select">结束日期</div>
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-offset-5">
                    <input id="commit" type="button" ID="btnSearch" value="  查  询  " class="btn btn-success" />
                </div>
            </div>


        </div>
        <div class="panel panel-info">
            <div class="panel-heading clearfix">
                <span class="glyphicon glyphicon-th-list" style="margin-top: 5px;" aria-hidden="true"></span> 查询结果
                <button id="export" href="/export/" class="btn btn-success pull-right">导出到csv</button>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered" id="query_table">
                    <!-- style="table-layout:fixed;" -->
                    <thead>
                        <tr>
                            <!-- <th>id</th> -->
                            <th>论文标题</th>
                            <th>期刊/会议</th>
                            <th>发布日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="query_table_row">
                        <!-- <tr>
                            <td>
                                Title
                            </td>
                            <td>
                                Conference/Journal Name
                            </td>
                            <td>
                                2020-11-26
                            </td>
                            <td>
                                lalal
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>



<script>
    function sum(arr) {
        return eval(arr.join("+"));
    };

    function dropbox(e){
        var data = new Object;
        data.field = $(e.target).prev().children().val()
        data.term = $(e.target).val()
        data.csrfmiddlewaretoken = '{{ csrf_token }}';
        $.ajax({
            url: '/api_dropbox/',
            type: 'post',
            data: data,

            success: function (response){
                if (response.code == 1000){
                    var target = $(e.target);
                    var availableTags = JSON.parse(response.results);
                    console.log(availableTags);
                    target.autocomplete({
                        source: availableTags
                    });
                }
            }
        })
    };

    $(function() {
    var availableTags = [
        "ActionScript",
        "AppleScript",
        "Asp",
        "BASIC",
        "C",
        "C++",
        "Clojure",
        "COBOL"
        ];
        $( "#dropbox" ).autocomplete({
        source: availableTags
        });
    });
    
    // paperid全局变量，是一个列表
    var paperid_list;
    // 表格变量
    var table;
    table = $('#query_table').DataTable({
        // deferLoading: -1,
        ajax: {
            url: '/process_q/',
            type: 'post',
            data: {
                "is_first": 1,
                "csrfmiddlewaretoken": '{{ csrf_token }}',
            },
            // dataSrc: '',
            dataSrc: function (mydata) {
                // console.log(JSON.parse(mydata.data));
                paperid_list = [];
                data = JSON.parse(mydata.data);
                // console.log(data);
                if (mydata.recordsTotal != 0) {
                    for (var i = 0; i < data.length; i ++) {
                        paperid_list.push(data[i].paperid);
                    }
                }
                return data;
            },
            error: function () {
                window.alert('数据加载出现错误！');
            },
        },
        dom: 'Bfrtip',
        columnDefs: [{
            targets: -1,
            render: function (data, type, full, meta) {
                console.log(data);
                detail_button = "<a label='paperid' href='/detail/" + data.paperid + "' class='btn btn-default' role='button' value='" + data.paperid + "'>详情</a>";
                export_button = "<a label='paperid' href='/export/[" + data.paperid + "]' class='btn btn-success' role='button' value='" + data.paperid + "'>导出</a>";
                return detail_button + export_button;
            }
        }],
        columns: [
            // {data: 'paperid'},
            {data: 'title', },
            {data: 'conferjournalname'},
            {data: 'publishtime'},
            {data: null},
        ],
        language: {
            {% load static %}
            url: "{% static 'datatable-plugin/Chinese.json' %}" // 语言文件，下方会贴出来
        }
    });

    $("#export").click( function() {
        var paperids = new Array;
        console.log(paperid_list);
        $("[label=\"paperid\"]").each( function() {
            paperids.push($(this).attr("value"));
        })
        if(paperids.length < 1){
            alert("请查询后再批量导出~");
            return;
        }
        var url = JSON.stringify(paperid_list);

        window.location.href = "/export/"+url;
    })

    // 提交query
    $('#commit').click(function () {
        var authorType = new Array();
        var authorFirst = document.getElementById('firstAuthor');
        var authorCorr = document.getElementById('corrAuthor');
        var authorOther = document.getElementById('otherAuthor');
        authorType[0] = 0, authorType[1] = 0, authorType[2] = 0;
        if (authorFirst.checked) authorType[0] = 1;
        if (authorCorr.checked) authorType[1] = 1;
        if (authorOther.checked) authorType[2] = 1;
        if (sum(authorType) == 0) {
            alert("请选择作者类型");
            return;
        }

        var paperType = new Array();
        var Journalmain = document.getElementById('Journalmain');
        var JournalSS = document.getElementById('JournalSS');
        var JournalAdd = document.getElementById('JournalAdd');
        var longPaper = document.getElementById('longPaper');
        var shortPaper = document.getElementById('shortPaper');
        var demo = document.getElementById('demo');
        var oral = document.getElementById('oral');
        var poster = document.getElementById('poster');
        paperType[0] = 0, paperType[1] = 0, paperType[2] = 0, paperType[3] = 0;
        paperType[4] = 0, paperType[5] = 0, paperType[6] = 0, paperType[7] = 0;
        // 0: main, 1: special section, 2: addition
        // 3: long oral, 4: long poster, 5: short oral, 6: short poster
        // 7: demo
        if (Journalmain.checked) paperType[0] = 1;
        if (JournalSS.checked) paperType[1] = 1;
        if (JournalAdd.checked) paperType[2] = 1;
        // 3: long oral, 4: long poster, 5: short oral, 6: short poster
        if (longPaper.checked){
            if (oral.checked)
                paperType[3] = 1;
            if (poster.checked)
                paperType[4] = 1;
            if (paperType[3] + paperType[4] == 0)
                paperType[3] = 1, paperType[4] = 1;
        } 
        if (shortPaper.checked){
            if (oral.checked)
                paperType[5] = 1;
            if (poster.checked)
                paperType[6] = 1;
            if (paperType[5] + paperType[6] == 0)
                paperType[5] = 1, paperType[6] = 1;
        } 
        if (oral.checked){
            if (longPaper.checked)
                paperType[3] = 1;
            if (shortPaper.checked)
                paperType[5] = 1;
            if (paperType[3] + paperType[5] == 0)
                paperType[3] = 1, paperType[5] = 1;
        } 
        if (poster.checked){
            if (longPaper.checked)
                paperType[4] = 1;
            if (shortPaper.checked)
                paperType[6] = 1;
            if (paperType[4] + paperType[6] == 0)
                paperType[4] = 1, paperType[6] = 1;
        } 
        // 7: demo
        if (demo.checked) paperType[7] = 1;

        if (sum(paperType) == 0) {
            alert("请选择论文类型");
            return;
        }


        var CCFRank = new Array();
        var CCFAP = document.getElementById('CCFAP');
        var CCFA = document.getElementById('CCFA');
        var CCFAM = document.getElementById('CCFAM');
        var CCFB = document.getElementById('CCFB');
        var CCFC = document.getElementById('CCFC');
        CCFRank[0] = 0, CCFRank[1] = 0, CCFRank[2] = 0, CCFRank[3] = 0, CCFRank[4] = 0;
        if (CCFAP.checked) CCFRank[0] = 1;
        if (CCFA.checked) CCFRank[1] = 1;
        if (CCFAM.checked) CCFRank[2] = 1;
        if (CCFB.checked) CCFRank[3] = 1;
        if (CCFC.checked) CCFRank[4] = 1;

        var CCFChinaRank = new Array();
        var CCFChinaAP = document.getElementById('CCFChinaAP');
        var CCFChinaA = document.getElementById('CCFChinaA');
        var CCFChinaAM = document.getElementById('CCFChinaAM');
        var CCFChinaB = document.getElementById('CCFChinaB');
        var CCFChinaC = document.getElementById('CCFChinaC');
        CCFChinaRank[0] = 0, CCFChinaRank[1] = 0, CCFChinaRank[2] = 0, CCFChinaRank[3] = 0, CCFChinaRank[4] = 0;
        if (CCFChinaAP.checked) CCFChinaRank[0] = 1;
        if (CCFChinaA.checked) CCFChinaRank[1] = 1;
        if (CCFChinaAM.checked) CCFChinaRank[2] = 1;
        if (CCFChinaB.checked) CCFChinaRank[3] = 1;
        if (CCFChinaC.checked) CCFChinaRank[4] = 1;

        var RUCRank = new Array();
        var RUCAP = document.getElementById('RUCAP');
        var RUCA = document.getElementById('RUCA');
        var RUCAM = document.getElementById('RUCAM');
        var RUCB = document.getElementById('RUCB');
        var RUCC = document.getElementById('RUCC');
        RUCRank[0] = 0, RUCRank[1] = 0, RUCRank[2] = 0, RUCRank[3] = 0, RUCRank[4] = 0;
        if (RUCAP.checked) RUCRank[0] = 1;
        if (RUCA.checked) RUCRank[1] = 1;
        if (RUCAM.checked) RUCRank[2] = 1;
        if (RUCB.checked) RUCRank[3] = 1;
        if (RUCC.checked) RUCRank[4] = 1;

        if (sum(CCFRank) + sum(CCFChinaRank) + sum(RUCRank) == 0) {
            alert("请选择论文等级");
            return;
        }

        var DateDuration = new Array();
        DateDuration[0] = $("#datetimepicker1").find("input").val();
        DateDuration[1] = $("#datetimepicker2").find("input").val();
        // if (DateDuration[0] == "") {
        //     alert("请选择开始日期");
        //     return;
        // }
        // if (DateDuration[1] == "") {
        //     alert("请选择结束日期");
        //     return;
        // }

        var keys = $("select[label=\"key\"]");
        var values = $("input[label=\"value\"]");
        var conditions = $("select[label=\"condition\"]");

        var queries = new Array;
        for (var i = 0; i < keys.length; i++) {
            var query = new Object;
            if (!i) {
                query.condition = '';
                query.key = keys.eq(i).val();
                query.value = values.eq(i).val();
            } else {
                query.condition = conditions.eq(i - 1).val();
                query.key = keys.eq(i).val();
                query.value = values.eq(i).val();
            }
            queries.push(query);
        }
        if(queries.length > 1 && queries[0].value == ''){
            alert('如果有查询条件请保证第一栏非空!');
            return;
        }

        var data = { // 提交数据
            "queries": JSON.stringify(queries),
            // authorIdentity是普通作者or通讯作者, authorType是本院教师or本院学生or其他
            "authorIdentity": JSON.stringify(authorType), // 前者为字段名，后者为数据
            "paperType": JSON.stringify(paperType),
            "CCFRank": JSON.stringify(CCFRank),
            "CCFChinaRank": JSON.stringify(CCFChinaRank),
            "RUCRank": JSON.stringify(RUCRank),
            "time": JSON.stringify(DateDuration),
            "csrfmiddlewaretoken": '{{ csrf_token }}'
        };

        console.log(data);
        
        // 调用datatable里的ajax请求
        table.settings()[0].ajax.data = data;
        table.ajax.url('/process_q/').load();

        gatherPaperID();

        /*$.ajax({
            url: '/process_q/',
            type: 'post',
            data: data,
            // 发送文件 需要修改两个参数

            success: function (response) {
                if (response.code == 1000) {
                    // console.log(response.results);
                    var data = JSON.parse(response.results);
                    console.log(data);
                    // 清除原本查询表格的内容
                    $("#query_table_row").html("");
                    // 清除之前的导出按钮
                    $("#exportButton").remove();

                    // $("#query_table_row").remove();
                    // 新建一段表格内容
                    content = '';
                    for (var i = 0; i < data.length; i ++) {
                        content += '<tr><td>'+ data[i].title +'</td>' + 
                                    '<td>' + data[i].conferjournalname + '</td>' + 
                                    '<td>' + data[i].publishtime + '</td>' +
                                    '<td>' + "<a href='/detail/" + data[i].paperid + "'class='btn btn-default' label='paperid' value='" + data[i].paperid + "' role='button'>详情</a >" + '</td></tr>';
                    }

                    console.log(content);
                    // 将其送回页面展示
                    $('#query_table_row').append(content);

                    // 添加导出按钮
                    var exportbutton = ''
                    exportbutton += '<button class="btn btn-primary pull-right" id="exportButton" role="button" style="margin-left: 0px;" type="submit">导出到csv</button>';
                    $('#exportAnchor').append(exportbutton);
                    gatherPaperID();
                } 
                else if(response.code == 2000) {
                    $("#exportButton").remove();
                    alert("no matching");
                }
            }
            
        })*/
    });
    // add row
    $("#addRow").click(function () {
        var html = '';
        html += '<div id="inputFormRow">';
        html += '<div class="input-group">';
        html += '<div class="input-group-btn">';
        html +=
            '<select class="form-control" label="condition" style="width:100px;padding:3px 10px;">';
        html += '<option>AND</option>';
        html += '<option>OR</option>';
        html += '</select>';
        html += '</div>';
        html += '<div class="input-group-btn">';
        html +=
            '<select class="form-control" label="key"  style="width:120px; padding:3px 10px;">';
        html += '<option>论文题目</option>';
        html += '<option>期刊/会议名称</option>';
        html += '{% if request.user.is_staff %}';
        html += '<option>作者姓名</option>';
        html += '{% endif %}';
        html += '</select>';
        html += '</div>';
        html += '<input label="dropbox" type="text" class="form-control" value="0" placeholder="请输入..." onpropertychange="aa(event)" oninput="aa(event)">';
        html += '<div class="input-group-btn">';
        html += '<div class="input-group-append">';
        html += '<button id="removeRow" type="button" class="btn btn-danger">  删  除  </button>';
        html += '</div>';
        html += '</div>';
        html += '</div>';

        $('#newRow').append(html);
    });
    // remove row
    $(document).on('click', '#removeRow', function () {
        $(this).closest('#inputFormRow').remove();
    });
</script>
{% endblock %}