{% extends 'base.html' %}

{% block content %}

<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
    rel="stylesheet">

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://js.cybozu.cn/momentjs/2.29.1/moment-with-locales.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="static/js/moment-with-locales.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


<script src='jquery.js' type="text/javascript">
    $("#add_form .radio input").bind("click", function () {
        var $radio = $(this);
        // if this was previously checked
        if ($radio.data('waschecked') == true) {
            $radio.prop('checked', false);
            $radio.data('waschecked', false);
        } else {
            $radio.prop('checked', true);
            $radio.data('waschecked', true);
        }
        // remove was checked from other radios
        $radio.siblings('input[type="radio"]').data('waschecked', false);
    });
</script>

<script type="text/javascript">
    $(function () {
        var picker1 = $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn'),
            //minDate: '2016-7-1'
        });
        var picker2 = $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        //动态设置最小值
        picker1.on('dp.change', function (e) {
            picker2.data('DateTimePicker').minDate(e.date);
        });
        //动态设置最大值
        picker2.on('dp.change', function (e) {
            picker1.data('DateTimePicker').maxDate(e.date);
        });
    });
    $('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: moment.locale('zh-cn'),
        defaultDate: "1990-1-1"
    });
</script>

<title>checkbox的全选和取消全选</title>
<script type="text/javascript">
    //页面加载的时候,所有的复选框都是未选中的状态
    function checkOrCancelAll(id, type) {
        var chElt = document.getElementById(id);
        //2.获取选中状态
        var checkedElt = chElt.checked;
        console.log(checkedElt)
        //3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消
        var allCheck = document.getElementsByName(type);
        //4.循环遍历取出每一个复选框中的元素
        //var mySpan=document.getElementById("mySpan");
        if (checkedElt) {
            //全选
            for (var i = 0; i < allCheck.length; i++) {
                //设置复选框的选中状态
                allCheck[i].checked = true;
            }
        } else {
            //取消全选
            for (var i = 0; i < allCheck.length; i++) {
                allCheck[i].checked = false;
            }
        }
    };
</script>

<style>
    .col-xs-1 {
        width: 18% !important;
    }

    .col-xs-2 {
        width: 38% !important;
    }
</style>


<body>

    <div class="col-md-10">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 查询论文
                (<em style="color: red;">*</em>为必填项)
            </div>
            <div class="panel-body">
                <form method="post" action="">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="inputFormRow">
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:100px; padding:3px 10px;">筛选条件</span>
                                    <div class="input-group-btn">
                                        <select id="inputTextType" class="form-control" label="key"
                                            style="width:120px; padding:3px 10px;">
                                            <option id="chosenTitle">论文题目</option>
                                            <option>期刊/会议名称</option>
                                            {% if request.user.is_staff %}
                                            <option>作者姓名</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <input id="inputText" type="text" class="form-control" label="value"
                                        placeholder="请输入...">
                                </div>
                            </div>

                            <div id="newRow"></div>
                            <button id="addRow" type="button" class="btn btn-info"> 添 加 </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <em style="color: red;">*</em>
                                作者类型
                            </div>
                            <div class="panel-body">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="authorAll"
                                            onclick="checkOrCancelAll('authorAll','authorType');" /><span
                                            id="mySpan">全选</span>
                                    </label>
                                </div>
                                <!-- <br> -->
                                <label class="checkbox-inline">
                                    <input id="firstAuthor" type="checkbox" name="authorType" value="option1">第一作者
                                </label>
                                <br>
                                <label class="checkbox-inline">
                                    <input id="corrAuthor" type="checkbox" name="authorType" value="option2">通讯作者
                                </label>
                                <br>
                                <label class="checkbox-inline">
                                    <input id="otherAuthor" type="checkbox" name="authorType" value="option3">其他作者
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <em style="color: red;">*</em>
                                论文类型
                            </div>
                            <div class="panel-body">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="paperAll"
                                            onclick="checkOrCancelAll('paperAll','paperType');" /><span
                                            id="mySpan2">全选</span>
                                    </label>
                                </div>
                                <label class="checkbox-inline">
                                    <input id="Journalmain" type="checkbox" name="paperType" value="option1">正刊
                                </label>
                                <label class="checkbox-inline">
                                    <input id="JournalSS" type="checkbox" name="paperType" value="option2">专刊
                                </label>
                                <br>
                                <label class="checkbox-inline">
                                    <input id="JournalAdd" type="checkbox" name="paperType" value="option2">增刊
                                </label>
                                <label class="checkbox-inline">
                                    <input id="longPaper" type="checkbox" name="paperType" value="option3">长文
                                </label>
                                <br>
                                <label class="checkbox-inline">
                                    <input id="shortPaper" type="checkbox" name="paperType" value="option1">短文
                                </label>
                                <label class="checkbox-inline">
                                    <input id="demo" type="checkbox" name="paperType" value="option2">Demo
                                </label>
                                <br>
                                <label class="checkbox-inline">
                                    <input id="oral" type="checkbox" name="paperType" value="option3">Oral
                                </label>
                                <label class="checkbox-inline">
                                    <input id="poster" type="checkbox" name="paperType" value="option3">Poster
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <em style="color: red;">*</em>
                                论文等级
                            </div>
                            <div class="panel-body">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="rankAll"
                                            onclick="checkOrCancelAll('rankAll','rankType');" /><span
                                            id="mySpan2">全选</span>
                                    </label>
                                </div>
                                <div class="col-md-4" for="select">CCF：</div>
                                <label class="checkbox-inline">
                                    <input id="CCFAP" type="checkbox" name="rankType" value="option1">A+
                                </label>
                                <label class="checkbox-inline">
                                    <input id="CCFA" type="checkbox" name="rankType" value="option2">A
                                </label>
                                <label class="checkbox-inline">
                                    <input id="CCFAM" type="checkbox" name="rankType" value="option3">A-
                                </label>
                                <label class="checkbox-inline">
                                    <input id="CCFB" type="checkbox" name="rankType" value="option3">B
                                </label>
                                <label class="checkbox-inline">
                                    <input id="CCFC" type="checkbox" name="rankType" value="option3">C
                                </label>
                                <br>
                                <div class="col-md-4" for="select">CCF中文：</div>
                                <label class="checkbox-inline">
                                    <input id="CCFChinaAP" type="checkbox" name="rankType" value="option1">A+
                                </label>
                                <label class="checkbox-inline">
                                    <input id="CCFChinaA" type="checkbox" name="rankType" value="option2">A
                                </label>
                                <label class="checkbox-inline">
                                    <input id="CCFChinaAM" type="checkbox" name="rankType" value="option3">A-
                                </label>
                                <label class="checkbox-inline">
                                    <input id="CCFChinaB" type="checkbox" name="rankType" value="option3">B
                                </label>
                                <label class="checkbox-inline">
                                    <input id="CCFChinaC" type="checkbox" name="rankType" value="option3">C
                                </label>
                                <br>
                                <div class="col-md-4 control-label" for="select">RUC：</div>
                                <label class="checkbox-inline">
                                    <input id="RUCAP" type="checkbox" name="rankType" value="option1">A+
                                </label>
                                <label class="checkbox-inline">
                                    <input id="RUCA" type="checkbox" name="rankType" value="option2">A
                                </label>
                                <label class="checkbox-inline">
                                    <input id="RUCAM" type="checkbox" name="rankType" value="option3">A-
                                </label>
                                <label class="checkbox-inline">
                                    <input id="RUCB" type="checkbox" name="rankType" value="option3">B
                                </label>
                                <label class="checkbox-inline">
                                    <input id="RUCC" type="checkbox" name="rankType" value="option3">C
                                </label>
                                <br>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <!-- <em style="color: red;">*</em> -->
                                论文发布日期
                            </div>
                            <div class="panel-body">
                                <div class='col-sm-12'>
                                    <div class="form-group">
                                        <div for="select">开始日期</div>
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class='col-sm-12'>
                                    <div class="form-group">
                                        <div for="select">结束日期</div>
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-offset-5">
                    <input id="commit" type="button" ID="btnSearch" value="  查  询  " class="btn btn-success" />
                </div>
            </div>


        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 查询结果
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <!-- style="table-layout:fixed;" -->
                    <thead>
                        <tr>
                            <th>论文标题</th>
                            <th>期刊/会议</th>
                            <th>作者类型</th>
                            <th>发布日期</th>
                        </tr>
                    </thead>
                    <tbody id="inputFormRow">
                        <tr>
                            <td>
                                Title
                            </td>
                            <td>
                                Conference/Journal Name
                            </td>
                            <td>
                                第一作者
                            </td>
                            <td>
                                2020-11-26
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>



<script>
    // 试了一下
    function sum(arr) {
        return eval(arr.join("+"));
    };
    $('#commit').click(function () {
        var authorType = new Array();
        var authorFirst = document.getElementById('firstAuthor');
        var authorCorr = document.getElementById('corrAuthor');
        var authorOther = document.getElementById('otherAuthor');
        authorType[0] = 0, authorType[1] = 0, authorType[2] = 0;
        if (authorFirst.checked) authorType[0] = 1;
        if (authorCorr.checked) authorType[1] = 1;
        if (authorOther.checked) authorType[2] = 1;
        if (sum(authorType) == 0) {
            alert("请选择作者类型");
            return;
        }

        var paperType = new Array();
        var Journalmain = document.getElementById('Journalmain');
        var JournalSS = document.getElementById('JournalSS');
        var JournalAdd = document.getElementById('JournalAdd');
        var longPaper = document.getElementById('longPaper');
        var shortPaper = document.getElementById('shortPaper');
        var demo = document.getElementById('demo');
        var oral = document.getElementById('oral');
        var poster = document.getElementById('poster');
        paperType[0] = 0, paperType[1] = 0, paperType[2] = 0, paperType[3] = 0;
        paperType[4] = 0, paperType[5] = 0, paperType[6] = 0, paperType[7] = 0;
        // 0: main, 1: special section, 2: addition
        // 3: long oral, 4: long poster, 5: short oral, 6: short poster
        // 7: demo
        if (Journalmain.checked) paperType[0] = 1;
        if (JournalSS.checked) paperType[1] = 1;
        if (JournalAdd.checked) paperType[2] = 1;
        // 3: long oral, 4: long poster, 5: short oral, 6: short poster
        if (longPaper.checked){
            if (oral.checked)
                paperType[3] = 1;
            if (poster.checked)
                paperType[4] = 1;
            if (paperType[3] + paperType[4] == 0)
                paperType[3] = 1, paperType[4] = 1;
        } 
        if (shortPaper.checked){
            if (oral.checked)
                paperType[5] = 1;
            if (poster.checked)
                paperType[6] = 1;
            if (paperType[5] + paperType[6] == 0)
                paperType[5] = 1, paperType[6] = 1;
        } 
        if (oral.checked){
            if (longPaper.checked)
                paperType[3] = 1;
            if (shortPaper.checked)
                paperType[5] = 1;
            if (paperType[3] + paperType[5] == 0)
                paperType[3] = 1, paperType[5] = 1;
        } 
        if (poster.checked){
            if (longPaper.checked)
                paperType[4] = 1;
            if (shortPaper.checked)
                paperType[6] = 1;
            if (paperType[4] + paperType[6] == 0)
                paperType[4] = 1, paperType[6] = 1;
        } 
        // 7: demo
        if (demo.checked) paperType[7] = 1;

        if (sum(paperType) == 0) {
            alert("请选择论文类型");
            return;
        }


        var CCFRank = new Array();
        var CCFAP = document.getElementById('CCFAP');
        var CCFA = document.getElementById('CCFA');
        var CCFAM = document.getElementById('CCFAM');
        var CCFB = document.getElementById('CCFB');
        var CCFC = document.getElementById('CCFC');
        CCFRank[0] = 0, CCFRank[1] = 0, CCFRank[2] = 0, CCFRank[3] = 0, CCFRank[4] = 0;
        if (CCFAP.checked) CCFRank[0] = 1;
        if (CCFA.checked) CCFRank[1] = 1;
        if (CCFAM.checked) CCFRank[2] = 1;
        if (CCFB.checked) CCFRank[3] = 1;
        if (CCFC.checked) CCFRank[4] = 1;

        var CCFChinaRank = new Array();
        var CCFChinaAP = document.getElementById('CCFChinaAP');
        var CCFChinaA = document.getElementById('CCFChinaA');
        var CCFChinaAM = document.getElementById('CCFChinaAM');
        var CCFChinaB = document.getElementById('CCFChinaB');
        var CCFChinaC = document.getElementById('CCFChinaC');
        CCFChinaRank[0] = 0, CCFChinaRank[1] = 0, CCFChinaRank[2] = 0, CCFChinaRank[3] = 0, CCFChinaRank[4] = 0;
        if (CCFChinaAP.checked) CCFChinaRank[0] = 1;
        if (CCFChinaA.checked) CCFChinaRank[1] = 1;
        if (CCFChinaAM.checked) CCFChinaRank[2] = 1;
        if (CCFChinaB.checked) CCFChinaRank[3] = 1;
        if (CCFChinaC.checked) CCFChinaRank[4] = 1;

        var RUCRank = new Array();
        var RUCAP = document.getElementById('RUCAP');
        var RUCA = document.getElementById('RUCA');
        var RUCAM = document.getElementById('RUCAM');
        var RUCB = document.getElementById('RUCB');
        var RUCC = document.getElementById('RUCC');
        RUCRank[0] = 0, RUCRank[1] = 0, RUCRank[2] = 0, RUCRank[3] = 0, RUCRank[4] = 0;
        if (RUCAP.checked) RUCRank[0] = 1;
        if (RUCA.checked) RUCRank[1] = 1;
        if (RUCAM.checked) RUCRank[2] = 1;
        if (RUCB.checked) RUCRank[3] = 1;
        if (RUCC.checked) RUCRank[4] = 1;

        if (sum(CCFRank) + sum(CCFChinaRank) + sum(RUCRank) == 0) {
            alert("请选择论文等级");
            return;
        }

        var DateDuration = new Array();
        DateDuration[0] = $("#datetimepicker1").find("input").val();
        DateDuration[1] = $("#datetimepicker2").find("input").val();
        // if (DateDuration[0] == "") {
        //     alert("请选择开始日期");
        //     return;
        // }
        // if (DateDuration[1] == "") {
        //     alert("请选择结束日期");
        //     return;
        // }

        var keys = $("select[label=\"key\"]");
        var values = $("input[label=\"value\"]");
        var conditions = $("select[label=\"condition\"]");

        var queries = new Array;
        for (var i = 0; i < keys.length; i++) {
            var query = new Object;
            if (!i) {
                query.condition = '';
                query.key = keys.eq(i).val();
                query.value = values.eq(i).val();
            } else {
                query.condition = conditions.eq(i - 1).val();
                query.key = keys.eq(i).val();
                query.value = values.eq(i).val();
            }
            queries.push(query);
        }

        var data = { // 提交数据
            "queries": JSON.stringify(queries),
            // authorIdentity是普通作者or通讯作者, authorType是本院教师or本院学生or其他
            "authorIdentity": JSON.stringify(authorType), // 前者为字段名，后者为数据
            "paperType": JSON.stringify(paperType),
            "CCFRank": JSON.stringify(CCFRank),
            "CCFChinaRank": JSON.stringify(CCFChinaRank),
            "RUCRank": JSON.stringify(RUCRank),
            "time": JSON.stringify(DateDuration),
            "csrfmiddlewaretoken": '{{ csrf_token }}'
        };

        console.log(data);

        $.ajax({
            url: '/process_q/',
            type: 'post',
            data: data,
            // 发送文件 需要修改两个参数

            success: function (response) {
                if (response.code == 1000) {
                    //        window.location.href = response.url
                } 
                else if(response.code == 2000) {
                    alert("no matching");
                }
            }
        })
    });
</script>

<script type="text/javascript">
    // add row
    $("#addRow").click(function () {
        var html = '';
        html += '<div id="inputFormRow">';
        html += '<div class="input-group">';
        html += '<div class="input-group-btn">';
        html +=
            '<select class="form-control" label="condition" style="width:100px;padding:3px 10px;">';
        html += '<option>AND</option>';
        html += '<option>OR</option>';
        html += '</select>';
        html += '</div>';
        html += '<div class="input-group-btn">';
        html +=
            '<select class="form-control" label="key"  style="width:100px; padding:3px 10px;">';
        html += '<option>论文题目</option>';
        html += '<option>期刊/会议名称</option>';
        html += '{% if request.user.is_staff %}';
        html += '<option>作者姓名</option>';
        html += '{% endif %}';
        html += '</select>';
        html += '</div>';
        html += '<input type="text" class="form-control" label="value" placeholder="请输入...">';
        html += '<div class="input-group-btn">';
        html += '<div class="input-group-append">';
        html += '<button id="removeRow" type="button" class="btn btn-danger">  删  除  </button>';
        html += '</div>';
        html += '</div>';
        html += '</div>';

        $('#newRow').append(html);
    });

    // remove row
    $(document).on('click', '#removeRow', function () {
        $(this).closest('#inputFormRow').remove();
    });
</script>
{% endblock %}